<div class="footer">
  <div class="container">
    <div class="">
      <ul class="social-icons">
        <li><a class="facebook" ><i class="fa fa-facebook"></i></a></li>
        <li><a class="instagram" href="https://www.instagram.com/liliane.designs" target="_blank"><i
              class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/liliane-yahfoufi-5a9b33187" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a (click)="toggle()" class="languages"><i class="selector fa fa-globe">
              <div class="dropup-content">
                <div (click)="useLanguage('fr')"><a class="lang" (click)="useLanguage('fr')"><img
                      src="/assets/Images/flags/france.png"> FR</a></div>
                <div (click)="useLanguage('fr')"><a class="lang" (click)="useLanguage('en')"><img
                      src="/assets/Images/flags/usa.png"> EN</a></div>
                <div (click)="useLanguage('fr')"><a class="lang" (click)="useLanguage('it')"><img
                      src="/assets/Images/flags/italy.png"> IT</a></div>
              </div>
            </i></a></li>
      </ul>

    </div>
  </div>
</div>