<div class="center">
  <div class="pagination">
    <a (click)="previousPage()" style='font-size: 14pt;' class="link fa fa-caret-left"></a>
    <a class="link" (click)="toPage($event)">1</a>
    <a class="link" (click)="toPage($event)">2</a>
    <a class="link" (click)="toPage($event)">3</a>
    <a class="link" (click)="toPage($event)">4</a>
    <a class="link" (click)="toPage($event)">5</a>
    <a class="link" (click)="toPage($event)">6</a>
    <span>...</span>
    <a class="link different" (click)="toPage($event)">7</a>
    <a (click)="nextPage()" style='font-size: 14pt;' class="link fa fa-caret-right"></a>
  </div>
  <div class="portfolio">
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/1.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/2.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/3.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/4.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/5.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/6.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/7.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/8.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/9.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/10.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/11.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/12.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/13.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/14.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/15.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/16.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/17.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/18.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/19.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/20.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/21.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/22.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/23.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/24.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/25.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/26.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/27.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/28.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/29.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/30.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/31.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/32.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/33.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/34.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/35.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/36.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/37.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/38.jpg">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/39.png">
    </div>
    <div class="page">
      <img src="/assets/Images/projects/Portfolio/40.png">
    </div>
  </div>
</div>
<div class="downloadButton">
  <button>
    <a href="/assets/Downloadables/Portfolio.pdf" download="portfolio">
      <i id="down" class="fa fa-download" aria-hidden="true"></i> <span id="downtext"
        [innerHTML]="'Portfolio.Download' | translate"></span>
    </a>
  </button>
</div>