nav {
    background-color: white;
    height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.container {
    float: right;
    margin-right: 2%;
}

.nav-item {
    color: #a62a39;
    font-family: 'cinzel', cursive;
    list-style-type: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12pt;
    padding: 10px 15px;
}

.nav-item:hover:not(.active) {
    color: #0c5524;
    font-weight: bold;
}

.nav-item.active {
    color: #0c5524;
    font-weight: bold;

}

.logo {
    font-family: 'cinzel', cursive;
    color: #a62a39;
    display: inline-block;
    margin-top: 20px;
    margin-left: 2%;
    font-size: 16pt;
}

.logoText {
    display: inline;
    color: #a62a39;
    /* font-family: 'El Messiri', sans-serif; */
}

.closeIcon, .burgerIcon {
    list-style-type: none;
    font-size: 25pt;
    color: #a62a39;
    background-color: none;
    display: none;
    outline: none;
    margin-top: 2%;
}

.closeIcon {
    font-size: 40pt;
}

@media only screen and (min-width: 0px) and (max-width: 930px) {
    .container {
        display: none;
        width: 100%;
        position: fixed;
        height: 100%;
        text-align: center;
    }
    .navbar {
        margin-top: 20%;
        padding: 0;
    }
    .nav-item:hover:not(.active) {
        border-bottom: none;
    }
    .burgerIcon {
        display: block;
        margin-top: 12px;
    }
    .closeIcon, .burgerIcon {
        text-align: center;
        float: right;
        padding: 0px 25px;
    }
    .burgerIcon i {
        display: inline-block;
    }
    nav {
        opacity: 1;
        transition: 0.5s;
    }
    .nav-item {
        width: 100%;
        display: block;
        transition: 0.3s;
        font-size: 22pt;
        padding: 10px 0px;
    }
    .logo {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 2000px) {
    .burgerIcon {
        display: none !important;
    }
    .container {
        display: block !important;
    }
    .navbar {
        display: block !important;
    }
    .nav-item {
        padding: 8px 12px;
        font-size: 18px;
    }
}