<div id="wrapper">
  <header><span class="first">L</span>isten <span class="first">T</span>o<span class="first"> T</span>he <span class="first">M</span>ood <span class="first">B</span>oards !
  </header>

  <div class="container1">
    <div class="slider">

      <div class="slide">
        <img class="sliderImage" src="/assets/Images/moodboards/africa1.jpg">
      </div>
      <div class="slide">
        <img class="sliderImage" src="/assets/Images/moodboards/mood2.png">
      </div>
      <div class="slide">
        <img class="sliderImage" src="/assets/Images/moodboards/mood3.jpg">
      </div>
      <div class="slide">
        <img class="sliderImage" src="/assets/Images/moodboards/mood5.png">
      </div>
      <div class="slide">
        <img class="sliderImage" src="/assets/Images/moodboards/mood6.png">
      </div>
      <div class="slide">
        <img class="sliderImage" src="/assets/Images/moodboards/mood7.jpg">
      </div>

      <a (click)="previousImage()" id="previous">&#10094;</a>
      <a (click)="nextImage()" id="next">&#10095;</a>

    </div>
  </div>

</div>