<app-pagebanner [title]='title'></app-pagebanner>
<div class="contact-cont">
  <div class="details">
    <div class="detail">
      <img src="/assets/Images/icons/home.png">
      <span class="detailText">
        <p [innerHTML]="'ContactInfo.Location' | translate"></p>
      </span>
    </div>
    <hr>
    <div class="detail">
      <img src="/assets/Images/icons/education.jpg">
      <span class="detailText">
        <p [innerHTML]="'ContactInfo.Institute' | translate"></p>
      </span>
    </div>
    <hr>
    <div class="detail">
      <img src="/assets/Images/icons/email.png">
      <span class="detailText">
        <a>design@lilianeyahfoufi.com <a href="mailto:design@lilianeyahfoufi.com?subject=Business Inquiry" class="contactButton fa fa-envelope"></a></a>
      </span>
    </div>
    <hr>
    <div class="detail">
      <img src="/assets/Images/icons/languages.jpg">
      <span class="detailText">
        <p [innerHTML]="'ContactInfo.Language' | translate"></p>
      </span>
    </div>
    <hr>
    <div class="detail">
      <img src="/assets/Images/icons/linkedin.jpg">
      <span class="detailText">
        <p> www.linkedin.com/lilianeyah</p>
      </span>
    </div>
    <hr>
    <div class="detail">
      <img src="/assets/Images/icons/instagram.png">
      <span class="detailText">
        <a> www.instagram.com/lilianeyah</a>
      </span>
    </div>
  </div>
</div>