<div id="main">
  <div id="about">
    <div><span class="first">A</span>bout <span class="first">T</span>he <span class="first">D</span>esinger</div>
  </div>
  <div id="bioCont">
    <img id="bioImage" src="/assets/Images/bioImage.jpg">
    <div id="bio-text-cont">
      <span class="quotes"> “</span>
      <div id="bio-text" [innerHTML]="'Home.Biography' | translate"></div>
      <span class="quotes" id="endquote"> ”</span>
      <p id="signature"> - Liliane Yahfoufi</p>
    </div>
  </div>
</div>