<div class="textBanner" id="snow">
  <header>SHADES OFF WHITE</header>
</div>
<div class="hangingframe">
  <img src="/assets/Images/Snow/hangingGallery.png">
</div>
<div class="snowGallery">

  <div class="frame">
    <div class="snowPolaroid">
      <img src="/assets/Images/Snow/snowdress1.jpg">
    </div>
  </div>
  <div class="frame">
    <div class="snowPolaroid">
      <img src="/assets/Images/Snow/snowdress3.jpg">
    </div>
  </div>
  <div class="frame">
    <div class="snowPolaroid">
      <img src="/assets/Images/Snow/snowdress2.jpg">
    </div>
  </div>
  <div class="frame">
      <div class="snowPolaroid">
        <img src="/assets/Images/Snow/separator.jpg">
      </div>
    </div>
  <div class="frame">
    <div class="snowPolaroid">
      <img src="/assets/Images/Snow/whiteoutfit.JPG">
    </div>
  </div>
  <div class="frame">
    <div class="snowPolaroid">
      <img src="/assets/Images/Snow/whiteoutfit2.jpg">
    </div>
  </div>
  <div class="frame">
    <div class="snowPolaroid">
      <img src="/assets/Images/Snow/whiteoutfitlast.JPG">
    </div>
  </div>
</div>
<hr>
<div class="textBanner" id="africa">
  <header>TOUCH OF AFRICA</header>
</div>

<div class="gallery">
  <ul id="grid" class="clear">
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/jumpsuit2.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/demon.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/skirt2.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/jumpsuit1.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/zongo.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/skirt1.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/dress.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/fleuve.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/dress4.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/dress3.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/quote.jpg">
      </div>
    </li>
    <li>
      <div class="hexagon">
        <img src="/assets/Images/Congo/last.jpg">
      </div>
    </li>
  </ul>
</div>

<div class="imageDisplay dress">
  <div class="item m">
    <div class="polaroid">
      <img src="/assets/Images/Collections/dress-two.jpg">
    </div>
  </div>
  <div class="item m">
    <div class="polaroid">
      <img src="/assets/Images/Collections/dress-one.jpg">
    </div>
  </div>
  <div class="item">
    <div class="polaroid">
      <img src="/assets/Images/Collections/dress-three.jpg">
    </div>
  </div>
</div>
<div class="imageDisplay jumpsuit">
  <div class="item m">
    <div class="polaroid">
      <img src="/assets/Images/Collections/jumpsuit-one.jpg">
    </div>
  </div>
  <div class="item m">
    <div class="polaroid">
      <img src="/assets/Images/Collections/jumpsuit-two.jpg">
    </div>
  </div>
  <div class="item">
    <div class="polaroid">
      <img src="/assets/Images/Collections/jumpsuit-three.jpg">
    </div>
  </div>
</div>
<div class="imageDisplay skirt">
  <div class="item m">
    <div class="polaroid">
      <img src="/assets/Images/Collections/skirt-one.jpg">
    </div>
  </div>
  <div class="item m">
    <div class="polaroid">
      <img src="/assets/Images/Collections/skirt-two.jpg">
    </div>
  </div>
  <div class="item">
    <div class="polaroid">
      <img src="/assets/Images/Collections/skirt-three.jpg">
    </div>
  </div>
</div>